<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>
<h2> JS Fiddle Code TEST links</h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://jsfiddle.net/siddhartha_shiva18/4korj2ws/39/show">Pure CSS and HTML Use</a></h2>
  </li>
    <ul>
      <li><p>The Above link opens demo screen which is a replica of a UX design with interactive functionalit. The Progress bar Progress as the amount needed for the fund closes by. This Demo is completely developed in HTML,CSS and JavaScript only.  No other form of JS library is used. </p></li>
    </ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://jsfiddle.net/siddhartha_shiva18/mr3Lwhvk/45/show">Json Example</a></h2>
  </li>
</ul>

